*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(54, 25, 78);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
}
.container{
    /* border: solid grey 3 px ;

    height: 400px;
    width: 500px;
    background-color: black;
     */
     display: flex;
     flex-direction: column;
     gap: 1 rem;
     background-color: black;
     padding: 20px;
     border-radius: 5px;
     width: 50%;
     max-width: 600px;
     
    
}
h1{
    text-align: center;
}
.user{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}
.circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: dodgerblue;
    justify-content: center;
    margin-right: 50px;
    border: 3px brown solid;
    text-align: center;
    align-items: center;
    display: flex;
    font-weight: 700;
   background: conic-gradient(#4838d6 var(--progress-degree, 0%), #1e1058 0%);

    flex-direction: column;

}
.progress{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
   
}
#search-button{
   padding: 0.4rem;
   border-radius: 5px;
   
}
#easyp{
    text-align: center;
}
.user-input{
    display: flex;
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
}
#search-button{
     width: 15%;
     padding: 0.5px;
     border-radius: 10px;
}
.circle span{
    position: relative;
    z-index:2;
}
.scards{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.card{
    background-color: #e45f06;
    border: double black 4px;
    width: 150px;
    max-width: 200px;
    padding:20px;
    border-radius: 10px;
    font-size: 1rem;
}